html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}